<div class="container">
  <h1>Video Chamada</h1>
  <!-- Formulário para entrar na sala -->
  <form >
    <label for="name">Nome:</label>
    <input type="text" id="name" [(ngModel)]="username" name="name" required />

    <label for="room">ID da Sala:</label>
    <input type="text" id="room" [(ngModel)]="roomId" name="room" required />
    <button (click)="joinRoom()">Entrar na sala</button>
  </form>

  <!-- Área de vídeo quando em uma sala -->
  <div *ngIf="roomId">
    <h2>Sala: {{ roomId }}</h2>
    <input [(ngModel)]="message" placeholder="Digite sua mensagem" name="message" />
    <h3>Mensagens:</h3>
    <ul>
      <li *ngFor="let msg of messages">{{ msg }}</li>
    </ul>

    <!-- Elementos de vídeo -->
    <div class="video-container">
      <div class="local-container">
        <h3>Vídeo Local</h3>
        <video #localVideo autoplay muted></video>
      </div>
      <div class="remote-container">
        <h3>Vídeo Remoto</h3>
        <video #remoteVideo autoplay></video>
      </div>
    </div>
  </div>
</div>
